body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: rgb(138, 50, 50);
}

#cabecera {
    background:rgb(159, 207, 235);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
 
#container {
    width: 70%;
    text-align: left;
    border: 1px solid rgb(209, 14, 14);
    margin: 0 auto;
}

container h1 {
    font-size: 70px;
}

#post {
    padding: 1em;
}